{% extends layout %}
{% block content %}
<!-- start-platform -->
<div class="tab-view tab-view-alternate trading-app-root">
	<div class="tab-view-tab-selectors-container-wrapper trading-app-root-mode-selector-container-wrapper">
		<div class="tab-view-tab-selectors-container font-m tab-full-width trading-app-container">
			<ul class="tab-view-tab-selectors">
				{% for type in tradingTypes %}
				<li class="tab-view-tab-selector font-m {% if type.default %} active {% endif %} {{ type.id }}" data-target="#{{ type.id }}-mode">
					{{type.label}}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="tab-view-body-wrapper">
		<div class="tab-view-body">
			{% for type in tradingTypes %}
			<div class="tab-view-panel {% if type.default %} active {% endif %}" id="{{ type.id }}-mode">
				<div class="trading-app-container">
					<div class="clearfix">
						<div class="pull-left tab-view tab-view-default instrument-selector-widget">
							<div class="instrument-selector-widget-duration-selectors-container tab-view-tab-selectors-container-wrapper">
								<div class="instrument-selector-widget-instrument-filter pull-right">
									<ul class="dropdown dropdown-default pull-left" tabindex="0">
										<li class="dropdown-item active">
											<input id="{{ type.id }}-all-currency" checked="checked" name="{{ type.id }}-instrument-filter" type="radio" value=""/>
											<label for="{{ type.id }}-all-currency" data-label="Filter Currencies">
												Filter Currencies
											</label>
										</li>
										{% for instrument in type.instruments %}
										<li class="dropdown-item">
											<input id="{{ type.id }}-{{instrument.id}}" name="{{ type.id }}-instrument-filter" type="radio" value="{{instrument.id}}"/>
											<label for="{{ type.id }}-{{instrument.id}}" data-label="{{instrument.label}}">
												{{instrument.label}}
											</label>
										</li>
										{% endfor %}
									</ul>
								</div>
								<div class="instrument-selector-widget-collapse-toggle">
								</div>
								<div class="tab-view-tab-selectors-container font-m">
									<ul class="tab-view-tab-selectors instrument-selector-widget-duration-selectors">
										<li class="tab-view-tab-selector instrument-selector-widget-duration-selector active" data-target="#{{type.id}}-interval-all">
											ALL
										</li>
									{% if type.intervals.length > 1 %} 
										{% for interval in type.intervals %}
										<li class="tab-view-tab-selector instrument-selector-widget-duration-selector" data-target="#{{type.id}}-{{interval.id}}">
											{{ interval.label }}
										</li>
										{% endfor %}
									{% endif %}
										<li class="tab-view-tab-selector instrument-selector-widget-duration-selector favourite" data-target="#{{type.id}}-favourite">
											FAVOURITES
										</li>
									</ul>
								</div>
							</div>
							<div class="tab-view-body-wrapper">
								<div class="tab-view-body instrument-selector-widget-instruments-container">

									{% if type.intervals.length > 0 %}
										<div class="tab-view-panel active" id="{{type.id}}-interval-all">
											<a class="instrument-selector-widget-instruments-slider page-slider backward" data-target="#{{type.id}}-all-pages">
											</a>
											<a class="instrument-selector-widget-instruments-slider page-slider forward" data-target="#{{type.id}}-all-pages">
											</a>
											<div class="page-container" id="{{type.id}}-all-pages">
												<div class="slider-fade-left">

												</div>
												<div class="slider-fade-right">

												</div>
												<div class="pages-wrapper">
													{% assign countAll = '0' %}
													{% for interval in type.intervals %}

														{% capture outerLoopLast %}{{forloop.last}}{% endcapture %}
														{% for instrumentItem in interval.instruments %}
															{% capture remainder %}{{countAll | modulo:5}}{% endcapture %}
															{% if remainder == '0' %}
																<div class="page {% if countAll == '1' %} active {% endif %}">
															{% endif %}

																<div 
																	class="instrument-panel {% if countAll == '1' %}instrument-panel-active{% endif %} instrument-{{type.id}}-panel" 

																	data-uid="{{type.id}}-{{instrumentItem.id}}-{{interval.id}}-{{forloop.index0}}"
																	data-trading-type="{{type.id}}" 
																	data-instrument-label="{{instrumentItem.label}}"
																	data-instrument-payout-rate="{{instrumentItem.payout}}"  
																	data-instrument-duration="{{interval.mediumLabel}}"
																	data-instrument-duration-id="{{interval.id}}"
																	data-instrument-duration-value="{{interval.value}}" 
																	data-instrument-seed-rate="{{instrumentItem.rate}}"
																>
																	<div class="instrument-panel-header">
																		<div class="instrument-panel-title">
																			{{instrumentItem.label}}
																		</div>
																		<div class="instrument-panel-favourite"></div>
																		<div class="instrument-panel-duration">
																			{{interval.shortLabel}}
																		</div>
																	</div>
																	<div class="instrument-panel-body">
																		{% if type.id == 'highlow' %}
																			<div class="clearfix">
																				<div class="instrument-panel-payout-wrap pull-left clearfix">
																					<div class="font-sb">
																						Payout
																					</div>
																					<div class="instrument-panel-payout">
																						${{instrumentItem.payout}}
																					</div>
																				</div>
																				<div class="pull-left clearfix">
																					<div class="font-sb">
																						Market
																					</div>
																					<div class="instrument-panel-rate highlow-high">
																					</div>
																				</div>
																			</div>
																			<div>
																				<!-- <div class="instrument-panel-closing">
																					Closing: <span class="expiry-time">loading...</span>
																				</div> -->
																				<div class="instrument-panel-closing">
																					Closing: <span class="closing-at"></span>
																				</div>
																			</div>
																		{% elsif type.id == 'spread' %}
																			<div class="clearfix">
																				<div class="instrument-panel-payout-wrap pull-left clearfix">
																					<div class="font-sb">
																						Payout
																					</div>
																					<div class="instrument-panel-payout">
																						${{instrumentItem.payout}}
																					</div>
																					<!-- <div class="instrument-panel-closing font-l">
																						Closing: <span class="expiry-time">loading...</span>
																					</div> -->
																					<div class="instrument-panel-closing">
																						Closing: <span class="closing-at"></span>
																					</div>
																				</div>
																				<div class="pull-left clearfix">
																					<div class="font-sb">
																						Market
																					</div>
																					<div class="instrument-panel-rate highlow-high">
																					</div>
																					<div class="instrument-panel-rate highlow-low">
																					</div>
																				</div>
																			</div>
																		{% elsif type.id == 'on-demand' %}
																			<div class="clearfix">
																				<div class="instrument-panel-payout-wrap pull-left clearfix">
																					<div class="font-sb">
																						Payout
																					</div>
																					<div class="instrument-panel-payout">
																						${{instrumentItem.payout}}
																					</div>
																				</div>
																				<div class="pull-left clearfix">
																					<div class="font-sb">
																						Market
																					</div>
																					<div class="instrument-panel-rate highlow-high">
																					</div>
																				</div>
																			</div>
																			<div>
																				<!-- <div class="instrument-panel-closing">
																					Closing: <span class="expiry-time">loading...</span>
																				</div> -->
																				<!-- <div class="instrument-panel-closing">
																					Closing: <span class="closing-at"></span>
																				</div> -->
																			</div>
																		{% endif %}
																		
																	</div>
																</div>

															{% if remainder == '4' %}
															</div>
															{% elsif forloop.last and outerLoopLast == 'true' %}
															</div>
															{% endif %}

															
															{% capture countAll %}{{countAll | plus:1}}{% endcapture %}
														{% endfor %}
													{% endfor %}
												</div>
											</div>
										</div>

										{% for interval in type.intervals %}
										<div class="tab-view-panel" id="{{type.id}}-{{interval.id}}">
											<a class="instrument-selector-widget-instruments-slider page-slider backward" data-target="#{{type.id}}-{{interval.id}}-pages">
											</a>
											<a class="instrument-selector-widget-instruments-slider page-slider forward" data-target="#{{type.id}}-{{interval.id}}-pages">
											</a>
											<div class="page-container" id="{{type.id}}-{{interval.id}}-pages">
												<div class="slider-fade-left">

												</div>
												<div class="slider-fade-right">

												</div>
												<div class="pages-wrapper">
													{% for instrumentItem in interval.instruments %}
													{% capture remainder %}{{forloop.index0 | modulo:5}}{% endcapture %}
													
													{% if remainder == '0' %}
													<div class="page {% if forloop.index0 == 0 %} active {% endif %}">
													{% endif %}
															
														<div class="instrument-panel js-instrument-panel-original {% if forloop.index0 == 0 %} instrument-panel-active {% endif %} instrument-{{type.id}}-panel" 
															data-uid="{{type.id}}-{{instrumentItem.id}}-{{interval.id}}-{{forloop.index0}}" 
															data-trading-type="{{type.id}}" 
															data-instrument-label="{{instrumentItem.label}}"
															data-instrument-payout-rate="{{instrumentItem.payout}}"   
															data-instrument-duration="{{interval.mediumLabel}}"
															data-instrument-duration-id="{{interval.id}}"
															data-instrument-duration-value="{{interval.value}}" 
															data-instrument-seed-rate="{{instrumentItem.rate}}"
														>
															<div class="instrument-panel-header">
																<div class="instrument-panel-title">
																	{{instrumentItem.label}}
																</div>
																<div class="instrument-panel-favourite"></div>
																<div class="instrument-panel-duration">
																	{{interval.shortLabel}}
																</div>
															</div>
															<div class="instrument-panel-body">
																{% if type.id == 'highlow' %}
																	<div class="clearfix">
																		<div class="instrument-panel-payout-wrap pull-left clearfix">
																			<div class="font-sb">
																				Payout
																			</div>
																			<div class="instrument-panel-payout">
																				${{instrumentItem.payout}}
																			</div>
																		</div>
																		<div class="pull-left clearfix">
																			<div class="font-sb">
																				Market
																			</div>
																			<div class="instrument-panel-rate highlow-high">
																			</div>
																		</div>
																	</div>
																	<div>
																		<!-- <div class="instrument-panel-closing">
																			Closing: <span class="expiry-time">loading...</span>
																		</div> -->
																		<div class="instrument-panel-closing">
																			Closing: <span class="closing-at"></span>
																		</div>
																	</div>
																{% elsif type.id == 'spread' %}
																	<div class="clearfix">
																		<div class="instrument-panel-payout-wrap pull-left clearfix">
																			<div class="font-sb">
																				Payout
																			</div>
																			<div class="instrument-panel-payout">
																				${{instrumentItem.payout}}
																			</div>
																			<!-- <div class="instrument-panel-closing">
																				Closing: <span class="expiry-time">loading...</span>
																			</div> -->
																			<div class="instrument-panel-closing">
																				Closing: <span class="closing-at"></span>
																			</div>
																		</div>
																		<div class="pull-left clearfix">
																			<div class="font-sb">
																				Market
																			</div>
																			<div class="instrument-panel-rate highlow-high">
																			</div>
																			<div class="instrument-panel-rate highlow-low">
																			</div>
																		</div>
																	</div>
																{% elsif type.id == 'on-demand' %}
																	<div class="clearfix">
																		<div class="instrument-panel-payout-wrap pull-left clearfix">
																			<div class="font-sb">
																				Payout
																			</div>
																			<div class="instrument-panel-payout">
																				${{instrumentItem.payout}}
																			</div>
																		</div>
																		<div class="pull-left clearfix">
																			<div class="font-sb">
																				Market
																			</div>
																			<div class="instrument-panel-rate highlow-high">
																			</div>
																		</div>
																	</div>
																	<div>
																		<!-- <div class="instrument-panel-closing">
																			Closing: <span class="expiry-time">loading...</span>
																		</div> -->
																		<!-- <div class="instrument-panel-closing">
																			Closing: <span class="closing-at"></span>
																		</div> -->
																	</div>
																{% endif %}
															</div>
														</div>

													{% if remainder == '4' %}
														</div>
													{% elsif forloop.last %}
														</div>
													{% endif %}
												{% endfor %}
												</div>
											</div>
										</div>
										{% endfor %}


										<!-- favourite -->

										<div class="tab-view-panel" id="{{type.id}}-favourite">
											<a class="instrument-selector-widget-instruments-slider page-slider backward" data-target="#{{type.id}}-favourite-pages">
											</a>
											<a class="instrument-selector-widget-instruments-slider page-slider forward" data-target="#{{type.id}}-favourite-pages">
											</a>
											<div class="page-container" id="{{type.id}}-favourite-pages">
												<div class="slider-fade-left">

												</div>
												<div class="slider-fade-right">

												</div>
												<div class="pages-wrapper">
													
												</div>
												<div class="no-data">You currently have no favourites</div>
											</div>
										</div>

										<!-- end favourite -->

									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default trading-platform main-view" id="{{type.id}}-main-view">
						<div class="panel-header">
							<div class="pull-left">
								<span class="trading-platform-instrument-title font-sb">
									
								</span>
								<span class="trading-platform-instrument-rate highlow-high current-rate">
								</span>
								{% if type.range %}
								<span class="trading-platform-instrument-spread-range">
									+/- {{type.range}}
								</span>
								{% endif %}
							</div>
							<div class="pull-right">
								<span class="trading-platform-instrument-closing-time">
									
								</span>
								<span class="trading-platform-instrument-time-left time-to-expiry">
									{% if type.id != 'on-demand' %}loading...{% else %}n/a{% endif %} 
								</span>
								<a class="trading-platform-instrument-one-click-toggler">
									<div class="tooltip one-touch">
										<div class="title">
											One Touch Trading
										</div>
										<div class="content">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="clearfix">
							<div class="{{type.id}} demo-message message-wrapper">
								<div class="message">
									This is indicative of a <span class="demo-message-type"></span> dialogue
								</div>
								<div class="close">

								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="heatmap collapsed" id="{{type.id}}-heatmap" data-target="{{type.id}}-graph">
								<div class="label high">
									31%
								</div>
								<div class="meter">
									<div class="fill high" style="height: 31%;">
									</div>
									<div class="fill low" style="height: 69%;">
									</div>
								</div>
								<div class="label low">
									69%
								</div>
								<div class="toggle">
									
								</div>
								<div class="expander">
								</div>
								<div class="tooltip trader-choice">
									<div class="title">
										Traders Choice
									</div>
									<div class="content">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
									</div>
								</div>
							</div>
							<div class="trading-platform-live-graph">
								<div id="{{type.id}}-graph" class="live-graph"></div>
							</div>
							<div class="trading-platform-main-controls ">
								<div class="trading-platform-main-controls-instrument-title font-sb">
									USD/JPY
								</div>
								<div class="trading-platform-main-controls-live-rate">
									<div class="pull-left font-sb">
										Market
									</div>
									<div class="pull-right highlow-high current-rate">
										102.77
									</div>
								</div>
								<div class="trading-platform-main-controls-investment font-m form-control">
									$<input type="text" id="{{type.id}}-investment-value-input" value="500"/>
								</div>
								<div class="clearfix trading-platform-main-controls-common-amount">
									<!-- I've used div as button here because button deosn't get :focus style on click for Firefox and Safari on MAc OSX -->

									<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="50">$50</div>
									<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="100">$100</div>
									<div class="btn btn-md-pad font-m active" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="500">$500</div>
								</div>
								<div class="trading-platform-main-controls-options one-click-control">
									<div class="btn btn-positive btn-extruded font-m btn-md-pad one-touch-bet bet-high {{type.id}} highlow-up"
										data-type="{{type.id}}" data-direction="high">
										HIGH
									</div>
									<div class="btn btn-negative btn-extruded font-m btn-md-pad one-touch-bet bet-low {{type.id}} highlow-down"
										data-type="{{type.id}}" data-direction="low">
										LOW
									</div>
								</div>
								<div class="clearfix trading-platform-main-controls-options none-one-click-control">
									<div class="trading-platform-main-controls-select-direction">
										<label for="trading-platform-main-controls-select-direction-up-{{type.id}}" class="btn btn-extruded font-m btn-sm-pad btn-positive highlow-up trading-select-direction-{{type.id}}-high">
											HIGH
										</label>
										<input type="radio" id="trading-platform-main-controls-select-direction-up-{{type.id}}" name="selectedDirection{{type.id}}" value="high"/>
										<label for="trading-platform-main-controls-select-direction-down-{{type.id}}" class="btn btn-extruded btn-negative font-m btn-sm-pad highlow-down trading-select-direction-{{type.id}}-low">
											LOW
										</label>
										<input type="radio" id="trading-platform-main-controls-select-direction-down-{{type.id}}" name="selectedDirection{{type.id}}" value="low"/>
									</div>
									<div class="btn btn-highlight btn-extruded font-m btn-lg-pad trading-platform-main-controls-place-bet {{type.id}}" data-type="{{type.id}}" data-direction="selectedDirection{{type.id}}">INVEST</div>
								</div>
								<div class="trading-platform-main-controls-payout">
									<div class="pull-left font-sb">
										Payout
									</div>
									<div class="pull-right">
										$<span class="trading-platform-main-controls-payout-rate">1.85</span>
									</div>
								</div>
								<div class="trading-platform-main-controls-return">
									<div class="pull-left font-sb">
										Return
									</div>
									<div class="pull-right trading-platform-maximum-return">
										$925.00
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="panel panel-default trading-app-container trading-platform ">
		<div class="panel-header light-grey">
			<div class="pull-left">
				<div class="font-m-b">
					CURRENT ACTIVITY
				</div>
			</div>
			<div class="pull-right font-sb view-all-trade-actions">
				View all Trade Actions &nbsp;<span class="icon-magnifier"></span>
			</div>
		</div>
		<div class="panel-body">
			<div class="trading-platform-investments no-data">
				<div class="trading-platform-investments-list-no-data">
					You have no active trades
				</div>
				<table class="table table-stripped table-fluid-width">
					<thead>
						<tr>
							<th>
								Select
							</th>
							<th>
								Type
							</th>
							<th>
								Asset
							</th>
							<th>
								Strike
							</th>
							<th>
								Start time
							</th>
							<th>
								Expiry
							</th>
							<th>
								Status
							</th>
							<th>
								Closing rate
							</th>
							<th>
								Investment
							</th>
							<th>
								Payout
							</th>
							<th>
								Take payout
							</th>
						</tr>
					</thead>
					<tbody class="trading-platform-investments-list">
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% for type in tradingTypes %}
<div class="trading-platform-popup-wrapper trading-platform-sell-popup {{type.id}} concealed">
	<div class="trading-platform-popup">
		<div class="trading-platform-popup-content-wrapper">
			<div class="trading-platform-popup-content">
				<div class="trading-platform-popup-content-inner-wrap">
					<div class="trading-platform-popup-header">
						TAKE PAYOUT
						<div class="trading-platform-popup-close close"></div>
					</div>
					<div class="trading-platform-popup-body">
						<div class="panel trading-platform-sell-popup-details">
							<div class="panel-header">
								<div class="trading-platform-sell-popup-instrument pull-left font-sb">
									USD/JPY
								</div>
								<div class="trading-platform-sell-popup-rate pull-right highlow-high current-rate">
									102.77
								</div>
							</div>
							<div class="panel-body">
								<div class="trading-platform-sell-popup-investment">
									<div class="pull-left font-sb">
										Investment
									</div>
									<div class="trading-platform-invevstment-value pull-right">
										
									</div>
								</div>
								<div class="trading-platform-sell-popup-return-rate">
									<div class="pull-left font-sb">
										Return rate [%]
									</div>
									<div class="trading-platform-return-rate-value pull-right">
										<span class="rate">0.6834</span>
									</div>
								</div>
								<div class="trading-platform-sell-popup-pay-out">
									<div class="pull-left font-sb">
										Payout
									</div>
									<div class="trading-platform-pay-out-value pull-right">
										
									</div>
								</div>
							</div>
						</div>
						<div class="btn btn-highlight btn-extruded full-width font-m btn-lg-pad trading-platform-sell-popup-sell">SELL</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="trading-platform-popup-wrapper trading-platform-invest-popup {{type.id}} concealed">
	<div class="trading-platform-popup">
		<div class="trading-platform-popup-content-wrapper">
			<div class="trading-platform-popup-content">
				<div class="trading-platform-popup-content-inner-wrap">
					<div class="trading-platform-popup-header">
						INVEST
						<div class="trading-platform-popup-close close"></div>
					</div>
					<div class="trading-platform-popup-body">
						<div class="trading-platform-invest-popup-live-rate">
							<div class="trading-platform-main-controls-instrument-title pull-left font-sb">
								USD/JPY
							</div>
							<div class="pull-right highlow-high current-rate">
								102.77
							</div>
						</div>
						<div class="trading-platform-invest-popup-payout">
							<div class="pull-left font-sb">
								Payout
							</div>
							<div class="pull-right">
								$ <span class="trading-platform-main-controls-payout-rate">1.85</span>
							</div>
						</div>
						<div class="trading-platform-main-controls-investment font-m form-control">
							$<input type="text" id="{{type.id}}-investment-value-input-popup" onchange="document.getElementById('{{type.id}}-investment-value-input').value = this.value;" value="500"/>
						</div>
						<div class="clearfix trading-platform-main-controls-common-amount">
							<!-- I've used div as button here because button deosn't get :focus style on click for Firefox and Safari on MAc OSX -->

							<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="50">$50</div>
							<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="100">$100</div>
							<div class="btn btn-md-pad font-m active" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="500">$500</div>
						</div>
						<div class="clearfix trading-platform-main-controls-options none-one-click-control">
							<div class="trading-platform-main-controls-select-direction">
								<label for="trading-platform-main-controls-select-direction-up-{{type.id}}-popup" class="btn btn-extruded font-m btn-sm-pad btn-positive highlow-up trading-select-direction-{{type.id}}-high">
									HIGH
								</label>
								<input type="radio" id="trading-platform-main-controls-select-direction-up-{{type.id}}-popup" name="selectedDirection{{type.id}}Popup" value="high"/>
								<label for="trading-platform-main-controls-select-direction-down-{{type.id}}-popup" class="btn btn-extruded btn-negative font-m btn-sm-pad highlow-down trading-select-direction-{{type.id}}-low">
									LOW
								</label>
								<input type="radio" id="trading-platform-main-controls-select-direction-down-{{type.id}}-popup" name="selectedDirection{{type.id}}Popup" value="low"/>
							</div>
							<div class="btn btn-highlight btn-extruded font-m btn-lg-pad trading-platform-main-controls-place-bet {{type.id}}" data-type="{{type.id}}" data-direction="selectedDirection{{type.id}}Popup">INVEST</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<!-- <div class="message-triggers tucked-away">
	<div class="toggle"></div>
	<div class="wrapper">
	</div>
</div> -->
<!-- end-platform -->
{% endblock %}
{% block script %}
	<script src="common/scripts/jquery-1.8.3.min.js"></script>
	<script src="common/scripts/highcharts.src.js"></script>
	<script src="common/scripts/pattern-fill.js"></script>		
	<script src="common/scripts/highlow-main.js"></script>
{% endblock %}