{% extends layout %}
{% block bodyClass %}ja{% endblock %}
{% block content %}
<!-- start-platform -->
{% comment %}<input type="hidden" id="price-marker-pulse-url" value="common/images/price-marker-1-pulse.png"/>{% endcomment %}
<input type="hidden" id="price-marker-core-url" value="common/images/graph-marker.png"/>
<div class="tab-view tab-view-alternate trading-app-root">
	<div class="tab-view-tab-selectors-container-wrapper trading-app-root-mode-selector-container-wrapper">
		<div class="tab-view-tab-selectors-container tab-full-width trading-app-container">
			<ul class="tab-view-tab-selectors">
				{% for type in tradingTypes %}
				<li class="tab-view-tab-selector {% if type.default %} active {% endif %} {{ type.id }}" data-target="#{{ type.id }}-mode">
					{{type.jaLabel}}
					{% if type._new %}
					<span class="tab-view-tab-selector--new">
						NEW!
					</span>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="tab-view-body-wrapper">
		<div class="tab-view-body">
			{% for type in tradingTypes %}
			<div class="tab-view-panel {% if type.default %} active {% endif %}" id="{{ type.id }}-mode">
				<div class="trading-app-container">
					<div id="options-carousel" class="clearfix walk-through-step">
						<div class="pull-left tab-view tab-view-default instrument-selector-widget">
							<div class="instrument-selector-widget-duration-selectors-container tab-view-tab-selectors-container-wrapper">
								<div class="instrument-selector-widget-instrument-filter pull-right">
									<div id="{{ type.id }}-asset-filter" class="asset-filter hl-toggler" data-toggle-self-on-disabled="true" data-toggle-off-click="true">
										<span class="asset-filter--opener hl-toggler" data-toggle-target="#{{ type.id }}-asset-filter"></span>
										<span class="asset-filter--placeholder">
											原資産を選択する
										</span>
										<div id="highlow-asset-filter--categories-container">
											<ul class="highlow-asset-filter--categories">
												<li id="highlow-asset-filter--category--all-asset" data-option="原資産を選択する" data-category="all" class="highlow-asset-filter--category active">
													<span class="highlow-asset-filter--category--label">全て</span>
													<div class="highlow-asset-filter--category--indicator"></div>
												</li>
												<li id="highlow-asset-filter--category--all-currencies"  data-category="currencies" class="highlow-asset-filter--category">
													<span class="highlow-asset-filter--category--label">株価指数</span>
													<div class="highlow-asset-filter--category--indicator"></div>
												</li>
												<li id="highlow-asset-filter--category--all-indices" data-category="indices" class="highlow-asset-filter--category">
													<span class="highlow-asset-filter--category--label">通貨ペア
													</span>
													<div class="highlow-asset-filter--category--indicator"></div>
												</li>
												<li id="highlow-asset-filter--category--all-commodities" data-option="All Commodities" data-category="commodities" class="highlow-asset-filter--category">		
													<span class="highlow-asset-filter--category--label">商品指数</span>
													<div class="highlow-asset-filter--category--indicator"></div>
												</li>
											</ul>
											<div id="highlow-asset-filter--selected-category-indicator"></div>
										</div>
										<div id="highlow-asset-filter--options-container">
											<ul id="highlow-asset-filter--options">
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="AUD/JPY" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														AUD/JPY
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="EUR/JPY" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														EUR/JPY
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="USD/CHF" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														USD/CHF
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="HKG33" data-category="indices">
													<span class="highlow-asset-filter--option--label eng">
														HKG33
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="AUD/NZD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														AUD/NZD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="EUR/USD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														EUR/USD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="USD/JPY" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														USD/JPY
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="JPN225" data-category="indices">
													<span class="highlow-asset-filter--option--label eng">
														JPN225
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="AUD/USD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														AUD/USD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="GBP/AUD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														GBP/AUD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="USD/SGD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														USD/SGD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="UK100" data-category="indices">
													<span class="highlow-asset-filter--option--label eng">
														UK100
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="CAD/JPY" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														CAD/JPY
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="GBP/JPY" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														GBP/JPY
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="黄金" data-category="commodities">
													<span class="highlow-asset-filter--option--label">
														黄金
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="US30" data-category="indices">
													<span class="highlow-asset-filter--option--label eng">
														US30
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="CHF/JPY" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														CHF/JPY
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="GBP/USD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														GBP/USD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="AUS200" data-category="indices">
													<span class="highlow-asset-filter--option--label eng">
														AUS200
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="" data-category="all">
													&nbsp;
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="EUR/AUD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														EUR/AUD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="NZD/JPY" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														NZD/JPY
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="FRA40" data-category="indices">
													<span class="highlow-asset-filter--option--label eng">
														FRA40
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="" data-category="all">
													&nbsp;
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="EUR/GBP" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														EUR/GBP
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="NZD/USD" data-category="currencies">
													<span class="highlow-asset-filter--option--label eng">
														NZD/USD
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="GER30" data-category="indices">
													<span class="highlow-asset-filter--option--label eng">
														GER30
													</span>
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" data-option="" data-category="all">
													&nbsp;
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" style="display: none;" data-option="" data-category="currencies">
													&nbsp;
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" style="display: none;" data-option="" data-category="currencies">
													&nbsp;
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" style="display: none;" data-option="" data-category="currencies">
													&nbsp;
												</li>
												<li class="highlow-asset-filter--option highlow-asset-filter--option-picker" style="display: none;" data-option="" data-category="indices">
													&nbsp;
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="instrument-selector-widget-collapse-toggle">
								</div>
								<div class="tab-view-tab-selectors-container font-m">
									<ul class="tab-view-tab-selectors instrument-selector-widget-duration-selectors">
										<li class="tab-view-tab-selector instrument-selector-widget-duration-selector active jap-word" data-target="#{{type.id}}-interval-all">
											全て
										</li>
									{% if type.intervals.length > 1 %} 
										{% for interval in type.intervals %}
										<li class="tab-view-tab-selector instrument-selector-widget-duration-selector" data-target="#{{type.id}}-{{interval.id}}">
											{{ interval.jaLabel }}
										</li>
										{% endfor %}
									{% endif %}
										<li class="tab-view-tab-selector instrument-selector-widget-duration-selector favourite jap-word" data-target="#{{type.id}}-favourite">
											お気に入り
										</li>
									</ul>
								</div>
							</div>
							<div class="tab-view-body-wrapper">
								<div class="tab-view-body instrument-selector-widget-instruments-container">

									{% if type.intervals.length > 0 %}
										<div class="tab-view-panel active" id="{{type.id}}-interval-all">
											<a class="instrument-selector-widget-instruments-slider page-slider backward" data-target="#{{type.id}}-all-pages">
											</a>
											<a class="instrument-selector-widget-instruments-slider page-slider forward" data-target="#{{type.id}}-all-pages">
											</a>
											<div class="page-container" id="{{type.id}}-all-pages">
												<div class="slider-fade-left">

												</div>
												<div class="slider-fade-right">

												</div>
												<div class="pages-wrapper">
													{% assign countAll = '0' %}
													{% for interval in type.intervals %}

														{% capture outerLoopLast %}{{forloop.last}}{% endcapture %}
														{% for instrumentItem in interval.instruments %}
															{% capture remainder %}{{countAll | modulo:5}}{% endcapture %}
															{% if remainder == '0' %}
																<div class="page {% if countAll == '1' %} active {% endif %}">
															{% endif %}

																<div 
																	class="instrument-panel {% if countAll == '1' %}instrument-panel-active{% endif %} instrument-{{type.id}}-panel" 

																	data-uid="{{type.id}}-{{instrumentItem.id}}-{{interval.id}}-{{forloop.index0}}"
																	data-trading-type="{{type.id}}" 
																	data-instrument-label="{{instrumentItem.label}}"
																	data-instrument-payout-rate="{{instrumentItem.payout}}"  
																	data-instrument-duration="{{interval.mediumLabel}}"
																	data-instrument-duration-id="{{interval.id}}"
																	data-instrument-duration-value="{{interval.value}}" 
																	data-instrument-seed-rate="{{instrumentItem.rate}}"
																	data-instrument-pip="{{instrumentItem.pip}}"
																>
																	<div class="instrument-panel-header">
																		<div class="instrument-panel-title">
																			{{instrumentItem.label}}
																		</div>
																		<a title="Add To Favourites" class="instrument-panel-favourite"></a>
																		<div class="instrument-panel-duration">
																			{{interval.jaShortLabel}}
																		</div>
																	</div>
																	<div class="instrument-panel-body">
																		{% if type.id == 'highlow' %}
																			<div class="clearfix">
																				<div class="instrument-panel-payout-wrap pull-left clearfix">
																					<div class="font-sb jap-word">
																						ペイアウト
																					</div>
																					<div class="instrument-panel-payout">
																						{{instrumentItem.payout}}
																					</div>
																				</div>
																				<div class="pull-left clearfix">
																					<div class="jap-word font-sb">
																						&nbsp;
																					</div>
																					<div class="instrument-panel-rate highlow-high">
																					</div>
																				</div>
																			</div>
																			<div>
																				<!-- <div class="instrument-panel-closing">
																					Closing: <span class="expiry-time">loading...</span>
																				</div> -->
																				<div class="instrument-panel-closing">
																					<span class="jap-word">判定時刻</span>: <span class="closing-at"></span>
																				</div>
																			</div>
																		{% elsif type.id == 'spread' or type.id == 'spread-on-demand' %}
																			<div class="clearfix">
																				<div class="instrument-panel-payout-wrap pull-left clearfix">
																					<div class="jap-word font-sb">
																						ペイアウト
																					</div>
																					<div class="instrument-panel-payout">
																						{{instrumentItem.payout}}
																					</div>
																				{% if type.id == 'spread' %}
																					<div class="instrument-panel-closing">
																						<span class="jap-word">判定時刻</span>: <span class="closing-at"></span>
																					</div>
																				{% else %}
																					<div class="instrument-panel-closing first-child last-child">
																						<span class="jap-word">判定時刻</span>: 02:00
																					</div>
																				{% endif %}
																				</div>
																				<div class="pull-left clearfix">
																					{% comment %}<div class="jap-word font-sb">
																						&nbsp;
																					</div>{% endcomment %}
																					<div class="instrument-panel-rate highlow-high">
																					</div>
																					<div class="instrument-panel-rate highlow-low">
																					</div>
																				</div>
																			</div>
																		{% elsif type.id == 'on-demand' or type.id == 'extreme-on-demand' %}
																			<div class="clearfix">
																				<div class="instrument-panel-payout-wrap pull-left clearfix">
																					<div class="jap-word font-sb">
																						ペイアウト
																					</div>
																					<div class="instrument-panel-payout">
																						{{instrumentItem.payout}}
																					</div>
																					<div class="instrument-panel-closing first-child last-child">
																						<span class="jap-word">判定時刻</span>: 02:00
																					</div>
																				</div>
																				<div class="pull-left clearfix">
																					<div class="jap-word font-sb">
																						&nbsp;
																					</div>
																					<div class="instrument-panel-rate highlow-high">
																					</div>
																				</div>
																			</div>
																			<div>
																				<!-- <div class="instrument-panel-closing">
																					Closing: <span class="expiry-time">loading...</span>
																				</div> -->
																				<!-- <div class="instrument-panel-closing">
																					Closing: <span class="closing-at"></span>
																				</div> -->
																			</div>
																		{% endif %}
																		
																	</div>
																</div>

															{% if remainder == '4' %}
															</div>
															{% elsif forloop.last and outerLoopLast == 'true' %}
															</div>
															{% endif %}

															
															{% capture countAll %}{{countAll | plus:1}}{% endcapture %}
														{% endfor %}
													{% endfor %}
												</div>
											</div>
										</div>
										{% for interval in type.intervals %}
										<div class="tab-view-panel" id="{{type.id}}-{{interval.id}}">
											<a class="instrument-selector-widget-instruments-slider page-slider backward" data-target="#{{type.id}}-{{interval.id}}-pages">
											</a>
											<a class="instrument-selector-widget-instruments-slider page-slider forward" data-target="#{{type.id}}-{{interval.id}}-pages">
											</a>
											<div class="page-container" id="{{type.id}}-{{interval.id}}-pages">
												<div class="slider-fade-left">
												</div>
												<div class="slider-fade-right">
												</div>
												<div class="pages-wrapper">
													{% for instrumentItem in interval.instruments %}
													{% capture remainder %}{{forloop.index0 | modulo:5}}{% endcapture %}
													
													{% if remainder == '0' %}
													<div class="page {% if forloop.index0 == 0 %} active {% endif %}">
													{% endif %}
															
														<div class="instrument-panel js-instrument-panel-original {% if forloop.index0 == 0 %} instrument-panel-active {% endif %} instrument-{{type.id}}-panel" 
															data-uid="{{type.id}}-{{instrumentItem.id}}-{{interval.id}}-{{forloop.index0}}" 
															data-trading-type="{{type.id}}" 
															data-instrument-label="{{instrumentItem.label}}"
															data-instrument-payout-rate="{{instrumentItem.payout}}"   
															data-instrument-duration="{{interval.mediumLabel}}"
															data-instrument-duration-id="{{interval.id}}"
															data-instrument-duration-value="{{interval.value}}" 
															data-instrument-seed-rate="{{instrumentItem.rate}}"
															data-instrument-pip="{{instrumentItem.pip}}"
														>
															<div class="instrument-panel-header">
																<div class="instrument-panel-title">
																	{{instrumentItem.label}}
																</div>
																<a title="Add To Favourites" class="instrument-panel-favourite">

																</a>
																<div class="instrument-panel-duration">
																	{{interval.jaShortLabel}}
																</div>
															</div>
															<div class="instrument-panel-body">
																{% if type.id == 'highlow' %}
																	<div class="clearfix">
																		<div class="instrument-panel-payout-wrap pull-left clearfix">
																			<div class="font-sb jap-word">
																				ペイアウト
																			</div>
																			<div class="instrument-panel-payout">
																				{{instrumentItem.payout}}
																			</div>
																		</div>
																		<div class="pull-left clearfix">
																			<div class="jap-word font-sb">
																				&nbsp;
																			</div>
																			<div class="instrument-panel-rate highlow-high">
																			</div>
																		</div>
																	</div>
																	<div>
																		<!-- <div class="instrument-panel-closing">
																			Closing: <span class="expiry-time">loading...</span>
																		</div> -->
																		<div class="instrument-panel-closing">
																			<span class="jap-word">判定時刻</span>: <span class="closing-at"></span>
																		</div>
																	</div>
																{% elsif type.id == 'spread' or type.id == 'spread-on-demand' %}
																	<div class="clearfix">
																		<div class="instrument-panel-payout-wrap pull-left clearfix">
																			<div class="font-sb jap-word">
																				ペイアウト
																			</div>
																			<div class="instrument-panel-payout">
																				${{instrumentItem.payout}}
																			</div>
																		{% if type.id == 'spread' %}
																			<div class="instrument-panel-closing">
																				<span class="jap-word">判定時刻</span>: <span class="closing-at"></span>
																			</div>
																		{% else %}
																			<div class="instrument-panel-closing first-child last-child">
																				<span class="jap-word">判定時刻</span>: 02:00
																			</div>
																		{% endif %}
																		</div>
																		<div class="pull-left clearfix">
																			{% comment %}<div class="jap-word font-sb">
																				&nbsp;
																			</div>{% endcomment %}
																			<div class="instrument-panel-rate highlow-high">
																			</div>
																			<div class="instrument-panel-rate highlow-low">
																			</div>
																		</div>
																	</div>
																{% elsif type.id == 'on-demand' or type.id == 'extreme-on-demand' %}
																	<div class="clearfix">
																		<div class="instrument-panel-payout-wrap pull-left clearfix">
																			<div class="jap-word font-sb">
																				ペイアウト
																			</div>
																			<div class="instrument-panel-payout">
																				{{instrumentItem.payout}}
																			</div>
																			<div class="instrument-panel-closing first-child last-child">
																				<span class="jap-word">判定時刻</span>: 02:00
																			</div>
																		</div>
																		<div class="pull-left clearfix">
																			<div class="jap-word font-sb">
																				&nbsp;
																			</div>
																			<div class="instrument-panel-rate highlow-high">
																			</div>
																		</div>
																	</div>
																	<div>
																		<!-- <div class="instrument-panel-closing">
																			Closing: <span class="expiry-time">loading...</span>
																		</div> -->
																		<!-- <div class="instrument-panel-closing">
																			Closing: <span class="closing-at"></span>
																		</div> -->
																	</div>
																{% endif %}
															</div>
														</div>

													{% if remainder == '4' %}
														</div>
													{% elsif forloop.last %}
														</div>
													{% endif %}
												{% endfor %}
												</div>
											</div>
										</div>
										{% endfor %}


										<!-- favourite -->

										<div class="tab-view-panel" id="{{type.id}}-favourite">
											<a class="instrument-selector-widget-instruments-slider page-slider backward" data-target="#{{type.id}}-favourite-pages">
											</a>
											<a class="instrument-selector-widget-instruments-slider page-slider forward" data-target="#{{type.id}}-favourite-pages">
											</a>
											<div class="page-container" id="{{type.id}}-favourite-pages">
												<div class="slider-fade-left">

												</div>
												<div class="slider-fade-right">

												</div>
												<div class="pages-wrapper">
													
												</div>
												<div class="no-data jap-word">お気に入りの登録がありません。</div>
											</div>
										</div>

										<!-- end favourite -->

									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default trading-platform main-view" id="{{type.id}}-main-view">
						<div class="panel-header">
							<div class="pull-left chart-panel instrument-details-display walk-through-step">
								<span class="trading-platform-instrument-title font-sb">
									
								</span>
								<span class="trading-platform-instrument-rate highlow-high current-rate eng">
								</span>
								{% if type.range %}
								<span class="trading-platform-instrument-spread-range">
									+/- {{type.range}}
								</span>
								{% endif %}
								<img src="common/images/loading.gif" class="loading-icon"/>
							</div>
							<div class="pull-right time-display chart-control walk-through-step">
								<img src="common/images/loading.gif" class="processing"/>
							{% if type.id != 'on-demand' and type.id != 'spread-on-demand' and type.id != 'extreme-on-demand' %}
								<span class="trading-platform-instrument-closing-time">
									
								</span>
								<span class="trading-platform-instrument-time-left time-to-expiry">
									loading...
								</span>
							{% else %}
								<span class="trading-platform-instrument-market-close-time">
									<span class="jap-word">判定時刻</span> 02:00
								</span>
							{% endif %}
								<a class="trading-platform-instrument-one-click-toggler tooltip-container">
									<div class="tooltip one-touch">
										<div class="title jap-word">
											ワンクリック注文
										</div>
										<div class="content">
											<p><span class="word">より早い</span><span class="word">約定が</span><span class="word">可能な</span><span class="word">ワンクリック注文に</span><span class="word">切替える。</span></p><p><span class="word">注：</span><span class="word">ワンクリック注文を</span><span class="word">有効に</span><span class="word">すると、</span><span class="word">チャート上</span><span class="word">および</span><span class="word">トレードパネル</span><span class="word">両方で</span><span class="word">有効と</span><span class="word">なります。</span></p>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="clearfix">
							<div class="{{type.id}} demo-message message-wrapper">
								<div class="message">
									This is indicative of a <span class="demo-message-type"></span> dialogue
								</div>
								<!-- <div class="close">

								</div> -->
							</div>
						</div>
						<div class="panel-body">
							<span class="chart-panel chart walk-through-step">
								<div class="heatmap collapsed tooltip-container" id="{{type.id}}-heatmap" data-target="{{type.id}}-graph">
									<div class="label high">
										31%
									</div>
									<div class="meter">
										<div class="fill high" style="height: 31%;">
										</div>
										<div class="fill low" style="height: 69%;">
										</div>
									</div>
									<div class="label low">
										69%
									</div>
									<div class="toggle">
										
									</div>
									<div class="expander">
									</div>
									<div class="tooltip trader-choice">
										<div class="title jap-word">
											トレーダース<br/>・チョイス
										</div>
										<div class="content">
											<span class="word">トレーダース・チョイス</span><span class="word">では、</span><span class="word">当社で</span><span class="word">お取引</span><span class="word">いただいている</span><span class="word">他の</span><span class="word">お客様の</span><span class="word">市場</span><span class="word">センチメントが、</span><span class="word">リアルタイムで</span><span class="word">ご確認</span><span class="word">いただけます。</span>
										</div>
									</div>
								</div>
								<div class="trading-platform-live-graph">
									<div id="{{type.id}}-graph" class="live-graph"></div>
								</div>
							</span>
							<div class="trading-platform-main-controls chart-control walk-through-step">
								<div class="clearfix">
									<div class="trading-platform-main-controls-instrument-title font-sb pull-left">
										USD/JPY
									</div>
									<div class="trading-platform-main-controls-live-rate pull-right">
											
										<span class="highlow-high current-rate eng">
											102.77 
										</span>

										{% if type.range %}
										<span class="trading-platform-instrument-spread-range">
											+/- {{type.range}}
										</span>
										{% endif %}

									</div>
								</div>
								<div class="trading-platform-main-controls-investment jap font-m form-control">
									¥<input type="text" class="number-only" id="{{type.id}}-investment-value-input" value="50000"/>
								</div>
								<div class="clearfix trading-platform-main-controls-common-amount jap">
									<!-- I've used div as button here because button deosn't get :focus style on click for Firefox and Safari on MAc OSX -->

									<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="5000">¥5,000</div>
									<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="10000">¥10,000</div>
									<div class="btn btn-md-pad font-m active" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="50000">¥50,000</div>
								</div>
								<div class="trading-platform-main-controls-options one-click-control">
									<div class="btn btn-positive btn-extruded font-m btn-md-pad one-touch-bet bet-high {{type.id}} highlow-up"
										data-type="{{type.id}}" data-direction="high">
										HIGH
									</div>
									<div class="btn btn-negative btn-extruded font-m btn-md-pad one-touch-bet bet-low {{type.id}} highlow-down"
										data-type="{{type.id}}" data-direction="low">
										LOW
									</div>
								</div>
								<div class="clearfix trading-platform-main-controls-options none-one-click-control">
									<div class="trading-platform-main-controls-select-direction">
										<label for="trading-platform-main-controls-select-direction-up-{{type.id}}" class="btn btn-extruded font-m btn-sm-pad btn-positive highlow-up trading-select-direction-{{type.id}}-high">
											HIGH
										</label>
										<input type="radio" id="trading-platform-main-controls-select-direction-up-{{type.id}}" name="selectedDirection{{type.id}}" value="high"/>
										<label for="trading-platform-main-controls-select-direction-down-{{type.id}}" class="btn btn-extruded btn-negative font-m btn-sm-pad highlow-down trading-select-direction-{{type.id}}-low">
											LOW
										</label>
										<input type="radio" id="trading-platform-main-controls-select-direction-down-{{type.id}}" name="selectedDirection{{type.id}}" value="low"/>
									</div>
									<div class="btn btn-highlight btn-extruded font-m btn-lg-pad trading-platform-main-controls-place-bet jap-word {{type.id}}" data-type="{{type.id}}" data-direction="selectedDirection{{type.id}}">今すぐ購入</div>
								</div>
								<div class="trading-platform-main-controls-payout">
									<div class="pull-left font-sb jap-word">
										ペイアウト
									</div>
									<div class="pull-right">
										<span class="trading-platform-main-controls-payout-rate eng">1.85</span>
									</div>
								</div>
								<div class="trading-platform-main-controls-return">
									<div class="pull-left font-sb jap-word">
										ペイアウト額
									</div>
									<div class="pull-right trading-platform-maximum-return eng">
										$925.00
									</div>
								</div>
							</div>
							<div class="chart-loading-screen">
								<img src="common/images/loading-lighter.gif" class="loading-icon"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="platform-loading-screen">
			<div class="header">
			 LOADING <img src="common/images/loading.gif" class="loading-icon"/>
			</div>
			<div class="loading-bar">
				<div class="fill">
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default trading-app-container trading-platform walk-through-step current-activity-table">
		<div class="panel-header light-grey">
			<div class="pull-left">
				<div class="font-m-b jap-word">
					購入オプション詳細
				</div>
			</div>
			<div class="pull-right font-sb view-all-trade-actions">
				<a class="popup-link" href="ja-trading-activity-popup.html" target="_blank"> <span class="jap-word">全ての取引を確認</span> &nbsp;<span class="icon-magnifier"></span></a>
			</div>
		</div>
		<div class="panel-body">
			<div class="trading-platform-investments no-data">
				<div class="trading-platform-investments-list-no-data jap-word">
					購入済オプションがありません。
				</div>
				<table class="table table-stripped table-fluid-width">
					<thead>
						<tr>
							<th class='jap-word investment-type-header'>
								タイプ
							</th>
							<th class='jap-word'>
								取引原資産
							</th>
							<th class='jap-word'>
								取引内容
							</th>
							<th class='jap-word'>
								取引時間
							</th>
							<th class='jap-word'>
								判定時刻
							</th>
							<th class='jap-word'>
								ステータス
							</th>
							<th class='jap-word'>
								判定レート
							</th>
							<th class='jap-word'>
								購入
							</th>
							<th class='jap-word'>
								ペイアウト
							</th>
							<th class='jap-word'>
								転売する
							</th>
						</tr>
					</thead>
					<tbody class="trading-platform-investments-list">
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% for type in tradingTypes %}
<div class="trading-platform-popup-wrapper trading-platform-sell-popup overlay {{type.id}} concealed" id="sell-popup-{{type.id}}">
	<div class="trading-platform-popup">
		<div class="trading-platform-popup-content-wrapper">
			<div class="trading-platform-popup-content">
				<div class="trading-platform-popup-content-inner-wrap">
					<div class="trading-platform-popup-header">
						<span class="jap-word">転売する</span>
						<div class="trading-platform-popup-close close"></div>
					</div>
					<div class="trading-platform-popup-body">
						<div class="panel trading-platform-sell-popup-details">
							<div class="panel-header">
								<div class="trading-platform-sell-popup-instrument eng pull-left font-sb">
									USD/JPY
								</div>
								<div class="trading-platform-sell-popup-rate pull-right highlow-high current-rate eng">
									102.77
								</div>
							</div>
							<div class="panel-body">
								<div class="trading-platform-sell-popup-strike">
									<div class="pull-left font-sb">
										取引内容
									</div>
									<div class="trading-platform-strike-value pull-right">
										
									</div>
								</div>
								<div class="trading-platform-sell-popup-investment">
									<div class="pull-left font-sb jap-word">
										購入金額
									</div>
									<div class="trading-platform-investment-value pull-right">
										
									</div>
								</div>
								<div class="trading-platform-sell-popup-return-rate">
									<div class="pull-left font-sb jap-word">
										ペイアウト倍率
									</div>
									<div class="trading-platform-return-rate-value {{type.id}} pull-right">
									</div>
								</div>
								<div class="trading-platform-sell-popup-pay-out">
									<div class="pull-left font-sb jap-word">
										ペイアウト
									</div>
									<div class="trading-platform-pay-out-value pull-right">
										
									</div>
								</div>
							</div>
						</div>
						<div class="btn btn-highlight btn-extruded full-width font-m btn-lg-pad trading-platform-sell-popup-sell jap-word">転売する</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="trading-platform-popup-wrapper trading-platform-invest-popup {{type.id}} concealed" id="invest-popup-{{type.id}}">
	<div class="trading-platform-popup">
		<div class="trading-platform-popup-content-wrapper">
			<div class="trading-platform-popup-content">
				<div class="trading-platform-popup-content-inner-wrap">
					<div class="trading-platform-popup-header">
						<span class="jap-word">今すぐ購入</span>
						<div class="trading-platform-popup-close close"></div>
					</div>
					<div class="trading-platform-popup-body">
						<div class="trading-platform-invest-popup-live-rate">
							<div class="trading-platform-main-controls-instrument-title eng pull-left font-sb">
								USD/JPY
							</div>
							<div class="pull-right highlow-high current-rate eng">
								102.77
							</div>
						</div>
						<div class="trading-platform-invest-popup-payout">
							<div class="pull-left font-sb jap-word">
								ペイアウト
							</div>
							<div class="pull-right">
								<span class="trading-platform-main-controls-payout-rate eng">1.85</span>
							</div>
						</div>
						<div class="trading-platform-main-controls-investment jap font-m form-control">
							¥<input type="text" class="number-only" id="{{type.id}}-investment-value-input-popup" onchange="document.getElementById('{{type.id}}-investment-value-input').value = this.value;" value="50000"/>
						</div>
						<div class="clearfix trading-platform-main-controls-common-amount jap">
							<!-- I've used div as button here because button deosn't get :focus style on click for Firefox and Safari on MAc OSX -->

							<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="5000">¥5,000</div>
							<div class="btn btn-md-pad font-m" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="10000">¥10,000</div>
							<div class="btn btn-md-pad font-m active" tabindex="0" onclick="document.getElementById('{{type.id}}-investment-value-input-popup').value = this.getAttribute('data-value'); document.getElementById('{{type.id}}-investment-value-input').value = this.getAttribute('data-value');" data-value="50000">¥50,000</div>
						</div>
						<div class="trading-platform-main-controls-options one-click-control">
							<div class="btn btn-positive btn-extruded font-m btn-md-pad one-touch-bet bet-high {{type.id}} highlow-up"
								data-type="{{type.id}}" data-direction="high">
								HIGH
							</div>
							<div class="btn btn-negative btn-extruded font-m btn-md-pad one-touch-bet bet-low {{type.id}} highlow-down"
								data-type="{{type.id}}" data-direction="low">
								LOW
							</div>
						</div>
						<div class="clearfix trading-platform-main-controls-options none-one-click-control">
							<div class="trading-platform-main-controls-select-direction">
								<label for="trading-platform-main-controls-select-direction-up-{{type.id}}-popup" class="btn btn-extruded font-m btn-sm-pad btn-positive highlow-up trading-select-direction-{{type.id}}-high">
									HIGH
								</label>
								<input type="radio" id="trading-platform-main-controls-select-direction-up-{{type.id}}-popup" name="selectedDirection{{type.id}}Popup" value="high"/>
								<label for="trading-platform-main-controls-select-direction-down-{{type.id}}-popup" class="btn btn-extruded btn-negative font-m btn-sm-pad highlow-down trading-select-direction-{{type.id}}-low">
									LOW
								</label>
								<input type="radio" id="trading-platform-main-controls-select-direction-down-{{type.id}}-popup" name="selectedDirection{{type.id}}Popup" value="low"/>
							</div>
							<div class="btn btn-highlight btn-extruded jap-word font-m btn-lg-pad trading-platform-main-controls-place-bet {{type.id}}" data-type="{{type.id}}" data-direction="selectedDirection{{type.id}}Popup">今すぐ購入</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<div class="trading-platform-popup-wrapper trading-platform-widget-popup concealed overlay" id="make-deposit-popup">
	<div class="trading-platform-popup">
		<div class="trading-platform-popup-content-wrapper">
			<div class="trading-platform-popup-content">
				<div class="trading-platform-popup-content-inner-wrap">
					<div class="trading-platform-popup-header">
						入金
						<div class="trading-platform-popup-close close"></div>
					</div>
					<div class="trading-platform-popup-body">
						<iframe onload="requestHeightSet()" id="deposit-iframe-frame" src="http://point.agency/highlow/new-site/ja-deposit-iframe.html"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% comment %}<div class="trading-platform-popup-wrapper trading-platform-widget-popup concealed overlay" id="make-withdrawal-popup">
	<div class="trading-platform-popup">
		<div class="trading-platform-popup-content-wrapper">
			<div class="trading-platform-popup-content">
				<div class="trading-platform-popup-content-inner-wrap">
					<div class="trading-platform-popup-header">
						出金
						<div class="trading-platform-popup-close close"></div>
					</div>
					<div class="trading-platform-popup-body">
						<iframe scrolling="no" src="ja-withdraw-iframe.html"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endcomment %}
<div class="message-triggers tucked-away">
	<div class="toggle"></div>
	<div class="wrapper">
	</div>
</div>
<!-- end-platform -->
{% endblock %}
{% block script %}
	<script src="common/scripts/jquery-1.8.3.min.js"></script>
	<script src="common/scripts/jquery-ui.min.js"></script>	
	<script src="common/scripts/jquery.cookie.min.js"></script>		
	<script src="common/scripts/highcharts.src.js"></script>
	<script src="common/scripts/pattern-fill.js"></script>		
	<script src="common/scripts/highlow-main.js"></script>
{% endblock %}